/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


body{
	margin: auto;
    font-size: 14px;
	font-family: sans-serif;
	font-weight: 200;
	background: #483D8B;
	color: white;
}
 a{
    color: white;
    font-family: inherit;
    font-size: inherit;
 }   
.container{
    padding: 40px 40px 40px 40px;
    margin: auto;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 200;
    background: #483D8B;
    color: white;
}
h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 5px 14px 20px rgba(52,152,219,0.64);
    font-weight: 500;
    margin-bottom: 20px;
}

.search{
     float: right;
     margin: 10px 10px 10px 10px;   
    padding: 15px 10px 10px 15px;

}

.map{

    margin: 20px 10px 10px 20px;
    width: 450px;
    height: 350px;
    background: #1A1C37;
    border-radius: 20px;
    border: 2px solid #2ecc71;
    max-height: 500px;
    max-width: 400px;
}
#myNavbar {
    z-index: 9;
    font-family: inherit;
    font-size: 14px;
    color: white;
}
.glyphicon{
    color: white;
 }

.ref { 
    margin: auto;
    color: white;
    font-weight: 500; 
    display: inline-block;
    float: right;
}

.signup {
    border: 0;
    background: #2ecc71;
    display: block;
    border: 2px solid #2ecc71;
    outline: none;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    display: inline-block;
    transition: 0.30s;
}

.signup:hover {
    color: white;
    background: #3498db;
    border: 2px solid #3498db;
}

.loginbox {
    max-height: 600px;
    margin-top: 30px;
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1A1C37;
    text-align: center;
    border-radius: 5px;
}

.loginbox h1 {
    padding-bottom: 5px;
    color: white;
    text-transform: uppercase;
    font-weight:450;
}
.loginbox input[type="radio"]{
    margin:auto;

}

.loginbox input[type="text"], .loginbox input[type="password"]  {
    border: 0;
    background: none;
    display: block;
    margin: 9px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.30s;
}

.loginbox input[type="text"]:focus, .loginbox input[type="password"]:focus {
    width: 280px;
    color: white;
    border-color: #2ecc71;
}


.loginbox input[type="submit"] {

    width: 130px;
    border: 0;
    background: none;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 20px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.30s;
    cursor: pointer;
}

.loginbox input[type="submit"]:hover {
    background: #2ecc71;
}
 input[type="text"],  input[type="password"], input[type="number"]  {
    margin: 5px 5px 5px 5px;
    border: 0;
    background: none;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.30s;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus {
    width: 280px;
    color: white;
    border-color: #2ecc71;
}

input[type="submit"] {

    width: 130px;
    border: 0;
    background: none;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 20px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.30s;
	cursor: pointer;
}

 input[type="submit"]:hover {
    background: #2ecc71;
}
.form_login {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate3d(-50%, -50%, 0);
}
.fox{
    z-index: 4;
    margin-top: 220px;
    max-height: auto;
    padding: 30px 50px 50px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.clock {
    font-weight: 200;
    font-family: Orbitron;
    letter-spacing: 7px;
    float: left;
    position: fixed;     
    width: 150px;
    background: #1A1C37 ;
    text-align: center;
    border: 2px solid #3498db;
    padding: 20px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.30s;

}



